.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.div-form {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 3%;
    justify-content: space-around;
}

.li-pai {
    list-style-type: none;
    margin-bottom: 1%;
}

.li-filho {
    list-style-type: none;
    margin-top: 1%;
}

.ul-pai {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.ul-filho {
    margin-left: 5%;
}

.div-input {
    width: 30%;
    margin-right: 3%;
}

.icon-style {
    width: 12px;
    height: 12px;
}

.div-nome {
    font-size: medium;
    font-family: 'Lucida Sans', sans-serif;
}

.div-infos {
    display: flex;
    justify-content: space-between;
}

.div-infos-senha {
    display: flex;
    width: 27%;
    justify-content: flex-end;
}

.div-percentual {
    display: flex;
    border-radius: 5px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 3%;
    font-family: 'Lucida Sans', sans-serif;
    font-size: small;
}

.div-categoria {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    text-align: center !important;
    font-family: 'Lucida Sans', sans-serif;
    font-size: small;
    font-weight: bold;
}

.categoria-ruim {
    background-color: #ff5959;
}

.categoria-fraca {
    background-color: #f79797;
}

.categoria-boa {
    background-color: #8cfa8e;
}

.categoria-forte {
    background-color: #2af742;
}

.categoria-mediana {
    background-color: #ebfa8c;
}

input:invalid {
    border: 2px dashed red;
}

input:valid {
    border: 2px solid black;
}

.button-css {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}