<!DOCTYPE html>
<html lang="pt-br" ng-app="meuApp">

<head>
    <meta charset="UTF-8">
    <title>System Test</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>

<body>
    <div ng-controller="MainController">
        <form class="div-form">
            <div class="div-input">
                <input type="text" id="fname" ng-model="user.name" name="firstname" placeholder="Digite o nome">
            </div>
            <div class="div-input">
                <input type="text" id="fpassword" ng-model="user.password" name="senha" placeholder="Digite a senha">
            </div>
            <div class="div-input">
                <select id="hierarchy" name="hierarchy" ng-model="user.hierarchy" ng-change="logSelectedPerson()"
                    ng-options="pessoa.id as pessoa.nome for pessoa in pessoas">
                    <option value="">Escolha a hierarquia</option>
                </select>
            </div>
            <div>
                <input class="button-css" type="submit" ng-click="save(user)" value="Salvar" />
            </div>
        </form>

        <ul class="ul-pai">
            <li ng-repeat="pessoa in pessoas">
                <span class="div-nome">
                    {{ pessoa.nome }}
                </span>
                <span class="div-percentual">
                    {{ pessoa.forcaSenhaPercentual }}
                </span>
                <span ng-class="getClass(pessoa.categoriaSenha)">
                    {{ pessoa.categoriaSenha }}
                </span>
                <ul>
                    <li ng-repeat="filho in pessoa.filhos">
                        <div class="div-infos">
                            <span class="div-nome">
                                {{ filho.nome }}
                            </span>
                            <span class="div-percentual">
                                {{ filho.forcaSenhaPercentual }}
                            </span>
                            <span ng-class="getClass(filho.categoriaSenha)">
                                {{ filho.categoriaSenha }}
                            </span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>

</html>